/* LoginForm.css */
.h2 {
  margin: 10px 0 10px 0;
  text-align: center;
}

.login-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #008cba;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #005f6b;
}

.signup-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.signup-button:hover {
  background-color: #f29100;
}
