ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}

ul li {
  margin: 3px;
}

ul li a {
  text-decoration: none;
  color: black;
  margin: 1.5rem;
}
